.table1{
    width: 50%;
}
.tombol1{
margin-left: 25%;
}
.tombol2{
    
}
.tombol3{
    width: 50%;
}
.thead{
    color: rgb(61, 137, 252);
}
.inputan{
    width: 50%;
    margin-left: 25%;
}